/* Estilo personalizado para el navbar */
.navbar-brand {
    font-family: 'Arial Black', sans-serif; /* Fuente en negrita */
    font-size: 24px; /* Tamaño de fuente */
    letter-spacing: 2px; /* Espaciado entre letras */
}


/* Estilo personalizado para el texto de la marca en pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 20px; /* Reducir tamaño de fuente en pantallas pequeñas */
    }
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 400px; /* Altura fija para todas las imágenes */
}

.row{
    margin-top: 40px;
}

.img-fluid {
    margin-top: 20px; /* Ajusta el margen superior de la imagen */
    margin-bottom: 20px; /* Ajusta el margen inferior de la imagen */
}
.text-justify {
    text-align: justify; /* Justifica el texto del contenido principal */
}


.navbar-nav {
    margin-left: auto; /* Mueve los elementos a la derecha */
}

.publicidad {
    position: fixed; /* Fija la posición de la publicidad */
    top: 50%; /* Ajusta la posición vertical al centro */
    right: 20px; /* Ajusta la distancia desde el lado derecho */
    transform: translateY(-50%); /* Centra verticalmente */
    max-height: calc(100vh - 40px); /* Ajusta la altura máxima */
    overflow: auto; /* Añade desplazamiento vertical si es necesario */
}


.comentarios {
    margin-top: 50px; /* Ajusta el margen superior */
    text-align: justify; /* Justifica el texto del contenido */
}

.media {
    display: flex;
    align-items: center;
}

.media-body{
    margin-left: 20px;
}